<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

    :root {
        --header-height: 120px;
    }

    header .logo a {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        letter-spacing: -1px;
    }

    header .logo img {
        margin-top: 10px;
    }

    .entry-content p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .entry-content code > span {
        padding-left: 10px;
        padding-right: 10px;
    }

    .entry-content code > span:first-child {
        padding-top: 10px;
    }

    .entry-content code > span:last-child {
        padding-bottom: 10px;
    }
</style>